
body {
  min-block-size: 100vh;
  background-color: rgb(50, 41, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.calculator {
  background-color: #fff;
  align-self: center;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  box-shadow: 5px 5px 5px #000;
}

.calculator__textfield {
  font-size: 22px;
  inline-size: 100%;
  block-size: 130px;
  border: none;
  caret-color: transparent;

}

.calculator__textfield:focus {
  outline: none;
}

.splitter {
  block-size: 1px;
  border-block-start: 1px solid gray;
}

.calculator__button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 50px;
  gap: 11px;
}

.calculator__button {
  background-color: transparent;
  appearance: none;
  border: 2px solid #000;
  border-radius: 50%;
  inline-size: 70px;
  block-size: 70px;
  cursor: pointer;
  font-size: 30px;
}

.calculator__button_square {
  grid-column: 1 / -1;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 0;

}

.calculator__button:hover, .calculator__button:active {
  background-color: #c0c0c0;
}

.calculator__button_accent {
  border-color: #edb20e;
  color: #edb20e;
}
